<div class="border border-gray-300 h-full rounded-lg p-4 w-full sm:w-72 text-center font-sans shadow-md shadow-lg items-baseline">
  <img
    [src]="product.images[0]"
    alt="Product Image"
    class="w-full h-auto rounded-md cursor-pointer"
    [routerLink]="'/product/' + product._id"
  />
  <h6 class="text-lg text-gray-800 mt-4 mb-2">{{ product.name }}</h6>
  <p class="text-gray-500 text-sm leading-relaxed mb-4">
    {{ product.shortdescription }}
  </p>
  <div class="flex gap-2 items-baseline justify-center mb-4">
    <span class="text-lg text-gray-400"><s>Rs.{{product.price}}</s></span>
    <span class="text-xs text-orange-300">{{product.discount}}% OFF</span>
    <span class="text-lg text-green-700">Rs.{{sellingPrice}}</span>
  </div>
  <div class="flex gap-4 justify-center mb-4">
    <button mat-fab color="warn" (click)="addToWishlist(product)" aria-label="Add to Wishlist">
      <mat-icon class="text-red-600">
        @if(isInWishlist(product)) {
          favorite
        } @else {
          favorite_border
        }
      </mat-icon>
    </button>
    <button mat-fab color="primary" (click)="addToCart(product)" aria-label="Add to Cart">
      <mat-icon>
        @if(!isProductInCart(product._id!)) {
          add_shopping_cart
        } @else {
          remove_shopping_cart
        }
      </mat-icon>
    </button>
  </div>
</div>
