
<div class="px-40 mt-10 flex justify-center">
        <form action="" class="w-96 shadow p-6">
    @if(id){
      <h4 class="text-xs"> Update  Brand</h4>
    }@else{
      <h4 class="text-xs"> Add new Brand</h4>
    }
            <div class="flex flex-wrap">
              <mat-form-field class="w-full">
                <mat-label>Name</mat-label>
                <input
                 matInput type="text" placeholder="Enter brand name" name="name" [(ngModel)]="name">
              </mat-form-field>
            </div>
            <div class="flex justify-center">
                @if(id){
                    <button mat-raised-button color="primary" (click)="update()" [disabled]="!name">Update</button>

                }@else{
                <button mat-raised-button color="primary" (click)="add()" [disabled]="!name">Add</button>
                }
            </div>
        </form>

</div>