<div class="flex flex-wrap justify-center md:justify-around gap-4 p-4 md:p-10">
    <button mat-raised-button routerLink="/admin/categories" class="w-full md:w-auto">Manage Category</button>
    <button mat-raised-button routerLink="/admin/products" class="w-full md:w-auto">Manage Products</button>
    <button mat-raised-button routerLink="/admin/brands" class="w-full md:w-auto">Manage Brands</button>
    <button mat-raised-button routerLink="/admin/orders" class="w-full md:w-auto">Manage Orders</button>
  </div>
  