<div class="px-4 sm:px-8 lg:px-20">
    <!-- Carousel Section -->
    <div class="shadow">
        <owl-carousel-o [options]="customOptions">
            @for (item of bannerImages; track $index) {
            <ng-template carouselSlide>
                <div 
                    class="relative flex flex-col items-center cursor-pointer"
                    [routerLink]="'product/'+item._id"
                >
                    <img [src]="item.images[0]" alt="images" class="w-full h-auto">
                    <span class="mt-2 text-gray-700 font-medium">{{ item.name }}</span>
                </div>
            </ng-template>
            }
        </owl-carousel-o>
    </div>

    <!-- Featured Products Section -->
    <div class="mt-8">
        <h4 class="text-xl sm:text-2xl font-bold mb-4">Trending Products</h4>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-6">
            @for (product of featuredProducts; track $index) {
            <div 
                class="shadow hover:shadow-lg transition-shadow duration-300 rounded-md overflow-hidden"
            >
                <app-product-cart [product]="product"></app-product-cart>
            </div>
            }
        </div>
    </div>

    <!-- New Products Section -->
    <div class="mt-8">
        <h4 class="text-xl sm:text-2xl font-bold mb-4">New Products</h4>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-6">
            @for (product of newProducts; track $index) {
            <div 
                class="shadow hover:shadow-lg transition-shadow duration-300 rounded-md overflow-hidden"
            >
                <app-product-cart [product]="product"></app-product-cart>
            </div>
            }
        </div>
    </div>
</div>
